.cm-header{ font-size: 1.8em; }
.cm-bold{ font-weight: bold; }
.cm-italic{ font-style: italic; }
.cm-underline{ text-decoration: underline; }
.cm-strikethrough{ text-decoration: line-through; }
.cm-supertext{ vertical-align: super; font-size: 0.9em; }
.cm-subtext{ vertical-align: sub; font-size: 0.9em; }
.cm-footnote-reference{ vertical-align: super; font-size: 0.9em; }
